 <!-- About Modal -->
    <div class="portfolio-modal modal fade" id="about-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content style="z-index: 1051;"">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>About</h2>
                            <hr class="star-primary">
                            <br><b>HELLO</b></br>
<br>Jordan is a designer, artist, creative person who likes to make things, <br>especially when it involves making things with other people.</br>
<br>Get in touch: jordanwhitneymartin@gmail.com</br>

<br><b>EDUCATION</b></br>
<br>Visual Communication Design // The School of the Art Institute of Chicago
<br>History and Philosophy // The Ohio State University</br>

<br><b>EXPERIENCE</b></br> 
<br>Visual/UI/UX Designer // Alder Planetarium: Zooniverse / Aug 2015–present
<br>Visual Designer // The Field Museum: Science and Education / Apr 2014–Jun 2015
<br>Art Director // FNewsmagazine / Jun 2013–Aug 2015</br>

<br><b>EXHIBITIONS</b></br>
<br>The Design Show 2015 // The Chicago Art Department
<br>Data as Art 2015 // Ford Engineering Design Center
<br>"Why Art Belongs in Science Museums" // NAEA Post-Op 2016 Symposium presentation</br>
<p><i><p style="color:#95a5a6;">Homepage adapted from movement interactiove installation at the Chicago Art Department</i></p><p></p>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

