<div class="loader"></div>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Work</a>
                </li>
                <li>
                 <a class="page-scroll" class="portfolio-link" data-toggle="modal" href="#about-modal">About</a>
             </li>
         </ul>
     </div>
     <!-- /.navbar-collapse -->
 </div>
 <!-- /.container-fluid -->
</nav>

<!-- Header -->
<div id="bg"></div>
   <header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading"><span class="highlight">Jordan Whitney Martin</h1>
                    <p class="intro-text"><span class="highlight">Likes to make things, especially when it involves making things with other people.</p></span>
                    <a class="page-scroll button" href="#portfolio">
                        <div class="button-bottom"></div>
                        <div class="top">
                            <div class="label">SEE MY WORK</div>
                            <div class="button-border button-border-left"></div>
                            <div class="button-border button-border-top"></div>
                            <div class="button-border button-border-right"></div>
                            <div class="button-border button-border-bottom"></div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</header>
