<div class="loader"></div>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">JWM✌︎</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Work</a>
                </li>
           </ul>
       </div>
       <!-- /.navbar-collapse -->
   </div>
   <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header class="intro">
     <div class="container">
        <div class="row">
            <div class="intro-body">
            <div id="image_map"> 
                <div class="col-md-8 col-md-offset-6">
                    <img src="/img/info.svg" alt="image map example" width=500 usemap="#about_map"> 
                    <a class="page-scroll button" href="#portfolio">
                        <div class="top">
                            <div class="label">PROJECTS</div>
                            <div class="button-border button-border-left"></div>
                            <div class="button-border button-border-top"></div>
                            <div class="button-border button-border-right"></div>
                            <div class="button-border button-border-bottom"></div>
                    </div></a></div> 
                    <map name="about_map"> 
                        <area href="http://www.iacollaborative.com" alt="IA Collaborative" target="_blank" shape=rect coords="300,345,388,388"> 
                        <area href="http://www.adlerplanetarium.org" alt="The Adler Planetarium" target="_blank" shape=rect coords="158,385,456,456">
                        <area href="https://www.instagram.com/jordanwhitneym" alt="insta" target="_blank" shape=rect coords="83,455,370,530">
                         <area href="mailto:jordanwhitneymartin@gmail.com?Subject=Hello" alt="mail" target="_blank" shape=rect coords="83,521,500,600">
                    </map> 
                     
                    
                </div>
            </div>
        </div>
    </div>
</header>

