header {
    min-width: 100vw;
    min-height: auto;
    position: relative;
    text-align: center;
    display: block;
}

header .header-content {
    position: relative;
    padding: 100px 15px;
    vertical-align: center;
    
}

header .header-content .header-content-inner h1 {
  font-weight: 700;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  color: #42049B;
}

header .header-content .header-content-inner hr {
  margin: 30px auto;
}

header .header-content .header-content-inner p {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  color: #42049B;
  font-size: 19px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {

  header {
    min-height: auto;
    position: abso;
    width: auto;
    text-align: center

  }

  header .header-content {
    position: absolute;
    -webkit-transform: translateY(-145%);
    -ms-transform: translateY(145%);
    transform: translateY(-145%);

    padding: 0 80px;
 
  }

  header .header-content .header-content-inner {
    display: block;
   left: 50%;
    top: 50%; 
    margin-left: -50px;
    margin-top: -50px;
    display: block;
  }

  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }

  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
    header .header-content .highlight{
        background-color: #F3F3F3;
    }

}

@media (max-width: 600px){

    header {
    background-position: center;
    background-image: url('img/static-eyes.png');
    background-repeat: repeat;
    }
}





<header>
<div id="bg"></div>
 <div class="header-content">
 <div class="col-lg-12 col-lg-offset-4">
     <div class="header-content-inner">
        <h1 id="homeHeading"><span class="highlight">Jordan Whitney Martin</span></h1>
            <hr>
        <p><span class="highlight">Likes to make things, especially when it involves making things with other people.</span></p>
<a class="page-scroll button" href="#portfolio">
        <div class="top">
            <div class="label">SEE MY WORK</div>
                <div class="button-border button-border-left"></div>
                <div class="button-border button-border-top"></div>
                <div class="button-border button-border-right"></div>
                <div class="button-border button-border-bottom"></div>
            </div>
            <div class="button-bottom"></div>
        </div>
    </a>
        </div>
    </div>
</div>
</header>